<% provide(:title, "#{@query}") %>
<div class="content">
  <% if @query.present? %>

    <% if @size.to_i > 0 %>
      <!-- One or more results -->
      <h1>
        Found <%= pluralize(@size, "result") %>
      </h1>
      <%= render 'list' %>
    <% else %>
      <!-- No results -->
      <h1>Sorry, we're fresh out of <%= @query %>!</h1>
    <% end %>
  
  <% else %>

    <h1>All Chapters</h1>
    <%= render 'list' %>

  <% end %>

</div>
