<% if @query.present? %>
  <% provide(:title, "#{@query}") %>
<% else %>
  <% provide(:title, "All Chapters") %>
<% end %>

<div class="content">
  <% if @query.present? %>

    <% if @size.to_i > 0 %>
      <!-- One or more results -->
      <h1>
        Found <%= pluralize(@size, "result") %>
      </h1>
      <%= render 'list' %>
    <% else %>
      <!-- No results -->
      <p style="text-align: center; margin-top: 1em;">No results for <%= @query %>, sorry!</p>
    <% end %>
  
  <% else %>

    <h1>All Chapters</h1>
    <%= render 'list' %>

  <% end %>

</div>
